.header__lang-link {
    
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFF;
    width: 30px;
    height: 28px;
    transition: .5s;
    padding-bottom: 5px;
    font-weight: 400;
}

.header__lang-link:nth-last-child(1) {
    text-decoration: none;
    margin-left: 18px;
}

.header__lang-link:hover {
    opacity: .8;
    color: bisque;
}

/*MEDIA 320PX*/
@media all and (max-width: 320px){
    .header__lang-link {
        font-size: 18px;
        width: 22px;
        height: 20px;
        align-self: center;
        margin-bottom: 8px;
    }
}