.place__website {
    max-width: 456px;
    height: 46px;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
}

/*MEDIA 1024PX*/
@media all and (max-width: 1024px){
    .place__website {
        margin-bottom: 12px;
        max-width: 453px;
    }
}

/*MEDIA 768PX*/
@media all and (max-width: 768px){
   .place__website {
        max-width: 349px;
        margin-bottom: 18px;
   }
}

/*MEDIA 320PX*/
@media all and (max-width: 320px){
   .place__website {
        grid-row: 2/3;
        grid-column: 1/2;
        max-width: 288px;
        margin: 0 16px 32px;
   }
}