.header__logo {
    width: 176px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
}

/*MEDIA 320PX*/
@media all and (max-width: 400px){
    .header__logo {
        width: 142px;
        height: 42px;
    }
}