.photo-grid__item {
   max-width: 284px;
   max-height: 213px;
}

/*MEDIA 1024PX*/
@media all and (max-width: 1024px) {
   .photo-grid__item {
      max-width: 300px;
      max-height: 225px;
   }
}

/*MEDIA 768PX*/
@media all and (min-width: 768px) and (max-width: 850px) {
   .photo-grid__item {
      max-width: 352px;
      max-height: 264px;
   }
}

/*MEDIA 320PX*/
@media all and (min-width: 320px) and (max-width: 730px) {
   .photo-grid__item {
      max-width: 288px;
      max-height: 216px;
   }
}