@font-face {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Regular.woff);
    font-weigt: normal;
}

@font-face {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Bold.woff2);
    font-weight: bold;
}