@font-face {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    /* src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Regular.woff); */
    src: url(./Inter-Black.woff) format("woff"),
        url(./Inter-Black.woff2) format("woff2");
    font-weigt: normal;
}

@font-face {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    /* src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Bold.woff2); */
    src: url(./Inter-Bold.woff) format("woff"),
        url(./Inter-Bold.woff2) format("woff2");
    font-weight: bold;
}